# Amplify Files

part*/amplify
part*/.amplifyrc
part*/src/aws-exports.js

# partTwo cypress screenshots
/partTwo/cypress/screenshots/


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# karma testing
/partTwo/.chrome
