<mat-card class="result">
  <mat-card-content>
    <h2 class="example-h2">Switch on SQL</h2>

    <section class="example-section">
      <!--<button mat-raised-button
        (click)="onTogleGwOn($event)">
        Start connectionGW
      </button>-->
      <mat-slide-toggle
        class="example-margin"
        [color]="color"
        [(ngModel)]="checked"
        [disabled]="disabled"
        (toggleChange)="onTogleGwOn($event)"
        matTooltip={{matTooltipGW}}
        matTooltipPosition="above">
        {{gwText$ | async}}
        <!--{{gwText$}}-->
      </mat-slide-toggle>
      <br>
      <p>{{sqlResponse}}</p>
    </section>

    <section class="example-section">
      <h1>
        Angular + WebSockets
      </h1>
    </section>
      <h3>
        WebSocket service Id <br>
        <button mat-mini-fab matTooltip="Primary" color="primary" aria-label="Example mini fab with a heart icon">
          <!--<mat-icon>favorite</mat-icon>-->
          {{webSocketServiceId}}
        </button>
        <button mat-mini-fab matTooltip="Primary" color="primary" aria-label="Example mini fab with a heart icon" (click)="onConnect($event)">
          <!--<mat-icon>favorite</mat-icon>-->
          connect()
        </button>
        <button mat-mini-fab matTooltip="Primary" color="primary" aria-label="Example mini fab with a heart icon" (click)="onRecycle($event)">
          <!--<mat-icon>favorite</mat-icon>-->
          recycle
        </button>
      </h3>
      <br>
      <div class="row">
        <div class="column">
          <textarea [(ngModel)]="content" name="contentInput" cols="40" rows="5"></textarea>
          <br>
          <button (click)="sendMsg()">Send Message</button>
        </div>

      </div>

      <br>
      <div>
        <h1>Sent Messages</h1>
        <br>
        <ul>
          <li *ngFor="let item of sent">Source: {{item.source}} -> Content {{item.content}}</li>
        </ul>
      </div>

      <br>
      <div>
        <h1>Received Messages</h1>
        <!--<ul>
          <li *ngFor="let transaction of transactions$ | async">{{ transaction }}</li>
        </ul>-->
        <div>
          {{ transactions$ | async }}
        </div>
        <!--<p-table [value]="transactions$ | async">-->
        <br>
        <ul>
          <li *ngFor="let item of received">Source: {{item.source}} -> Content {{item.content}}</li>
        </ul>
      </div>

  </mat-card-content>
</mat-card>
